<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navigation">
        <a href="{{ url_for('welcome') }}" class="nav-item"> <img src="/static/images/home-icon.png"> </a>
        <div style="display: flex; gap: 1rem; align-items: center;">
            <a href="{{ url_for('deleteAccount') }}" class="nav-item">
                <img src="/static/images/Delete.png" style="width: 2rem; height: auto;">
            </a>
            <a href="{{ url_for('logout') }}" class="nav-item">
                <img src="/static/images/logout-icon.png" style="width: 2rem; height: auto; object-fit: contain;">
            </a>
        </div>
    </nav>
    <input type="hidden" id="hiddenTab" name="hiddenTab" value="{{ '1' if is_fortnite else '0' }}">
    <div class="profile-container">
        <img src="{{user.get('pfp')}}" class="profile-picture">
        <h1 class="profile-text" style="font-size: 4rem;">
            {{user.get('username')}}
            <br>
            <p style="font-size: large;">Games: {{ favoriteGames|length }} Skins: {{ favoriteCosmetics|length }} </p>
        </h1>
    </div>

    
    
    <div style="display: flex; justify-content: center; padding-top: 4rem;">
        <button type="submit" name="type" value="steam" id="ShowSteam" onclick="switchTab(2);">
            STEAM
        </button>
        <button type="submit" name="type" value="fortnite" id="ShowFortnite" onclick="switchTab(1);">
            FORTNITE
        </button> 
    </div>

    <form action="/emailUser" method="POST">
        <div class="center-container">
            <button class="play-button" id="emailButton">Email Availability</button>
        </div>
    </form>
    
    <div style="display: flex; justify-content: center; padding-top: 4rem;">
        <div style="display: flex; flex-wrap: wrap;" class="fortnite-card-container" id="Fortnite">
            {% if favoriteCosmetics %}
                {% for item in favoriteCosmetics %}
                    <div class="fortnite-card" onclick="openModal(this)">
                        <img 
                            src="{{ item.image }}" 
                            alt="{{ item.skinname }}" 
                            width="128" 
                            height="128"
                            data-name="{{ item.skinname }}"
                            data-description="{{ item.description }}"
                            data-image="{{ item.image }}"
                            data-type="{{ item.type }}"
                            data-id="{{ item.skin_id }}"
                            data-rarity="{{ item.rarity }}"
                            {% if item.series is defined %}
                                data-series="{{ item.series }}"
                            {% else %}
                                data-series="N/A"
                            {% endif %}
                            {% if item.set is defined %}
                                data-set="{{ item.set }}"
                            {% else %}
                                data-set="N/A"
                            {% endif %}
                            {% if item.introduction is defined %}
                                data-introduction="{{ item.introduction }}"
                            {% else %}
                                data-introduction="N/A"
                            {% endif %}
                        >
                        <p>{{ item.skinname }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p style="color: var(--main-text); text-shadow: 0 8px 16px rgba(0,0,0,0.3); bottom: 0;">No favorite cosmetics found.</p>
            {% endif %}
        </div>

        <div class="cosmetic-container" id="Steam">
            <div class="fortnite-card-container">
                {% if favoriteGames %}
                    {% for game in favoriteGames %}
                        <div class="fortnite-card-wrapper">
                            <div class="fortnite-card" onclick="openGameModal(this)">
                                <img
                                    style="border-radius: 1rem"
                                    src="{{ game.thumbnail }}"
                                    alt="{{ game.title }}"
                                    width="256px" 
                                    height="auto"
                                    data-title="{{ game.title }}"
                                    data-thumb="{{ game.thumbnail }}"
                                    data-genre="{{ game.genre }}"
                                    data-description="{{ game.short_description }}"
                                    data-platform="{{ game.platform }}"
                                    data-publisher="{{ game.publisher }}"
                                    data-developer="{{ game.developer }}"
                                    data-release="{{ game.release_date }}"
                                    data-url="{{ game.url }}"
                                    data-id="{{ game.game_id }}"
                                >
                                <p>{{ game.title }}</p>
                            </div>
                            <br>
                            <a href="{{ game.url }}" target="_blank">
                                <button class="play-button">
                                    Play Game Now
                                </button>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="color: var(--main-text); text-shadow: 0 8px 16px rgba(0,0,0,0.3); bottom: 0;">No favorite games found.</p>
                {% endif %}
            </div>
        </div>
    </div>

    


    <div id="myModal" style="display: none; position: fixed; top: 20%; left: 50%; transform: translate(-50%, -20%); min-width: 200px;" class="fortnite-info">
        <form action="/removeFavorite" method="POST">
            <div style="position: absolute; top: 0; left: 0; width: 100%; display: flex; justify-content: space-between; padding: 0.5rem;">
                <button type="button" class="back-btn" id="closeModal">
                    <img src="/static/images/arrow-icon.png" alt="Back">
                </button>
                <button class="remove-btn">
                    <img src="/static/images/remove-icon.png" alt="Delete">
                </button>
            </div>

            <br><br><br>
            <hr>
            <br>
    
            <input type="hidden" id="hiddenId" name="id">
    
            <img class="modal-image" src="" alt="" style="max-width: 128px; border-radius: 1rem;" id="imageDisplay">
            <h2 style="font-weight: bold;" class="modal-title" id="nameDisplay"></h2>
            <p class="modal-description" id="descriptionDisplay"></p>
            <p class="modal-type" id="typeDisplay"></p>
            <p class="modal-rarity" id="rarityDisplay"></p>
            <p class="modal-series" id="seriesDisplay"></p>
            <p class="modal-set" id="setDisplay"></p>
            <p class="modal-introduction" id="introductionDisplay"></p>
        </form>
    </div>

    <div id="myGameModal" style="display: none; position: fixed; top: 20%; left: 50%; transform: translate(-50%, -20%); min-width: 200px;" class="fortnite-info">        
        <form action="/removeSteam" method="POST">
            <div style="position: absolute; top: 0; left: 0; width: 100%; display: flex; justify-content: space-between; padding: 0.5rem;">
                <button type="button" class="back-btn" id="closeGameModal">
                    <img src="/static/images/arrow-icon.png" alt="Back">
                </button>
                <button class="remove-btn">
                    <img src="/static/images/remove-icon.png" alt="Delete">
                </button>
            </div>

            <br><br><br>
            <hr>
            <br>

            <input type="hidden" id="hiddenId" name="id">
    
            <img class="modal-image" src="" alt="" style="max-width: 128px; border-radius: 1rem;" id="imageDisplay">
            <h2 style="font-weight: bold;" class="modal-title" id="titleDisplay"></h2>
            <p id="descriptionDisplay"></p>
            <p id="genreDisplay"></p>
            <p id="platformDisplay"></p>
            <p id="publisherDisplay"></p>
            <p id="developerDisplay"></p>
            <p id="releaseDisplay"></p>
        </form>
    </div>


    <script src="{{ url_for('static', filename='favorites.js') }}"></script>
</body>

</html>