<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navigation">
        <a href="{{ url_for('welcome') }}" class="nav-item"> <img src="/static/images/home-icon.png"> </a>
        <a href="{{ url_for('account') }}?currentTab=2" class="nav-item"> <img src="{{ pfp }}" style="width: 2rem; height: auto;"> </a>
    </nav>

    <h1 class="header">FREE GAMES</h1>

    <input type="hidden" name="currentTab" value="2">

    <form action="/sortSteam" method="POST">
        <div class="search-container">
            <input type="text" placeholder="Search Games" class="search-input" id="search" name="search">
            <img src="/static/images/search-icon.png">
        </div>

        <div style="display: flex;">
            <h1 style="color: var(--main-text); text-shadow: 0 8px 16px rgba(0,0,0,0.3); bottom: 0; margin-left: 6rem;">Games</h1>
            <select id="genre" name="genre" class="filter-btn" style="background: var(--secondary-background); border: none; color: var(--main-text); font-size: small; font-weight: bold;">
                <option value="">Genre</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
            
            <select id="publisher" name="publisher" class="filter-btn" style="background: var(--secondary-background); border: none; color: var(--main-text); font-size: small; font-weight: bold;">
                <option value="">Publisher</option>
                {% for publisher in publishers %}
                    <option value="{{ publisher }}">{{ publisher }}</option>
                {% endfor %}
            </select>
            
            <select id="platform" name="platform" class="filter-btn" style="background: var(--secondary-background); border: none; color: var(--main-text); font-size: small; font-weight: bold;">
                <option value="">Platform</option>
                {% for platform in platforms %}
                    <option value="{{ platform }}">{{ platform }}</option>
                {% endfor %}
            </select>

            <div class="filter-btn">
                <button class="button" style="background: var(--secondary-background); border: none; color: var(--main-text); font-size: small; font-weight: bold;">Filter</button>
            </div>
        </div>
    </form>

    <br><br>

    <div class="cosmetic-container">
        <div class="fortnite-card-container">
            {% for game in games %}
            <div class="fortnite-card-wrapper">
                <div class="fortnite-card" onclick="openModal(this)">
                    <img
                        style="border-radius: 1rem"
                        src="{{ game.thumbnail }}"
                        alt="{{ game.title }}"
                        width="256px" 
                        height="auto"
                        data-title="{{ game.title }}"
                        data-thumb="{{ game.thumbnail }}"
                        data-genre="{{ game.genre }}"
                        data-description="{{ game.short_description }}"
                        data-platform="{{ game.platform }}"
                        data-publisher="{{ game.publisher }}"
                        data-developer="{{ game.developer }}"
                        data-release="{{ game.release_date }}"
                        data-url="{{ game.freetogame_profile_url }}"
                    >
                    <p>{{ game.title }}</p>
                </div>
                <br>
                <a href="{{ game.freetogame_profile_url }}" target="_blank">
                    <button class="play-button">
                        Play Game Now
                    </button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="myModal" style="display: none; position: fixed; top: 20%; left: 50%; transform: translate(-50%, -20%); min-width: 200px;" class="fortnite-info">        
        <form id="addFavoriteForm">
            <div style="position: absolute; top: 0; left: 0; width: 100%; display: flex; justify-content: space-between; padding: 0.5rem;">
                <button type="button" class="back-btn" id="closeModal">
                    <img src="/static/images/arrow-icon.png" alt="Back">
                </button>
                <button type="submit" class="add-btn">
                    <img src="/static/images/add-icon.png">
                </button>
            </div>

            <br><br><br>
            <hr>
            <br>

            <input type="hidden" id="hiddenThumb" name="thumb">
            <input type="hidden" id="hiddenTitle" name="title">
            <input type="hidden" id="hiddenGenre" name="genre">
            <input type="hidden" id="hiddenDescription" name="description">
            <input type="hidden" id="hiddenPlatform" name="platform">
            <input type="hidden" id="hiddenPublisher" name="publisher">
            <input type="hidden" id="hiddenDeveloper" name="developer">
            <input type="hidden" id="hiddenRelease" name="release">
            <input type="hidden" id="hiddenUrl" name="url">

            <img class="modal-image" src="" alt="" style="max-width: 128px; border-radius: 1rem;" id="imageDisplay">
            <h2 style="font-weight: bold;" class="modal-title" id="titleDisplay"></h2>
            <p class="modal-description" id="descriptionDisplay"></p>
            <p class="modal-genre" id="genreDisplay"></p>
            <p class="modal-platform" id="platformDisplay"></p>
            <p class="modal-publisher" id="publisherDisplay"></p>
            <p class="modal-developer" id="developerDisplay"></p>
            <p class="modal-release" id="releaseDisplay"></p>
        </form>
    </div>

    <div class="pagination">
        {% if has_prev %}
            <a href="{% if request.endpoint == 'sortSteam' %}
                {{ url_for('sortSteam', page=page - 1, genre=genre, publisher=publisher, plaform=platform, search=search) }}
            {% else %}
                {{ url_for('steam', page=page - 1) }}
            {% endif %}"
            class="page-button">Previous</a>
        {% endif %}
        {% if has_next %}
            <a href="{% if request.endpoint == 'sortSteam' %}
                {{ url_for('sortSteam', page=page + 1, genre=genre, publisher=publisher, plaform=platform, search=search) }}
            {% else %}
                {{ url_for('steam', page=page + 1) }}
            {% endif %}"
            class="page-button">Next</a> 
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>