<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    {{ bootstrap.load_css() }}

    <title>Lab 17</title>
</head>
<body>

    <div class="container mb-4">  
        <div class="card mt-4">
          <div class="card-body">
            <h2 class="card-title">Add to our playlist!</h2>
            <form method="POST" action="/">
              {{ form.csrf_token }}
              {{ form.song_title.label }} 
              {{ form.song_title(size=32) }}
              <br>
              {{ form.artist_name.label }} 
              {{ form.artist_name(size=32) }}
              <br>
              {{ form.genre.label }} 
              {{ form.genre(size=32) }}
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
      <img src="{{ url_for('static', filename='Collage.png') }}">

    {{ bootstrap.load_js() }}
</body>
</html>