<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 4</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <h1>Colton's Random Picture Gallery</h1>

    {% for item in images[:3] %}
        <a href="{{ url_for('image', info=item['id']) }}">{{ item['title'] }}</a>
        <br>
        <img src="/static/images/{{ item['id'] }}.jpg" class="img-fluid w-75" />
        <br>
    {% endfor %}

</body>
</html>